---
layout: page
author: pmcu
---

<!DOCTYPE html>
<html lang="ga" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
<nav>
  <a href="/">Baile</a>
  <a href="/about.html">Eolas</a>
</nav>
    <p>Údar: {{page.author}} </p>
<!-- {% for post in site.posts %}
<p>{{ post.title }} </p>
{% endfor %} -->
<h4>Ceangal</h4>

  {% for post in site.posts %}
    <li><a href="{{ post.url }}">{{post.title}}</a></li>
    {% endfor %}
    <br><hr><br>
    <h3>Madaí Eile</h3>
{% for dog in site.data.dogs %}
<h3>{{ dog.name}}</h3> {{dog.seort}}<br>{{dog.deoch}}<br><br>
{% endfor %}
<br><hr><br>
<h3>Léaráidí</h3>
{%for file in site.static_files %}
{{file.basename}}<br>
{% endfor %}
  </body>
</html>
