<!DOCTYPE html>
<head>
<html lang="{{ page.lang | default: site.lang | default: "ga" }}">
	<link rel="stylesheet" type="text/css" href = "../assets/css/style2.css">
  {%- include head.html -%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#hide").click(function(){
    $("p").hide();
  });
  $("#show").click(function(){
    $("p").show();
  });
});
</script>

</head>
  <body>

  {%- include navigation.html -%}
   {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
