<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ga" }}">


  <body>

  {%- include navigation.html -%}<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include navigation.html -%}
    <hr>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}


  </body>

</html>
